<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Affinity</title>
	<atom:link href="http://affinity.wpe/feed/" rel="self" type="application/rss+xml" />
	<link>http://affinity.wpe</link>
	<description>Your SUPER-powered WP Engine Blog</description>
	<lastBuildDate>Thu, 18 Feb 2016 19:32:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Hello world!</title>
		<link>http://affinity.wpe/hello-world/</link>
		<comments>http://affinity.wpe/hello-world/#comments</comments>
		<pubDate>Wed, 09 Dec 2015 00:59:02 +0000</pubDate>
		<dc:creator><![CDATA[wpengine]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://affinitydev.wpengine.com/?p=1</guid>
		<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
				<content:encoded><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
			<wfw:commentRss>http://affinity.wpe/hello-world/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
